---
import Page from '../layouts/Page.astro'
---

<Page>
  <section class='mx-auto mt-48 flex flex-col items-center gap-4'>
    <h2 class='text-3xl font-bold'>This page does not exist...</h2>
    <a href='/' class='text-lg font-bold text-blue-600'>Return Home</a>
  </section>
</Page>
