---
import IndexListItem from '../components/IndexListItem.astro'
import { getCollection } from 'astro:content'
import Page from '../layouts/Page.astro'

let content = await getCollection('blog')
---

<Page>
  <section class='flex h-56 grow-0 flex-col items-center justify-center gap-2'>
    <h2 class='text-4xl font-bold'>Tinkered Thoughts; Teeming Tomorrow</h2>
    <p class='text-xl'>
      <i>Stuff</i> by Konstantin Kuzmin. <a
        class='font-bold text-blue-600'
        href='./about'>Learn More</a
      >
    </p>
  </section>
  <section class='mx-auto max-w-3xl'>
    <h2 class='sr-only'>Content</h2>
    <ol class='flex flex-col gap-4'>
      {
        content.map((item) => (
          <IndexListItem
            title={item.data.title}
            body={item.body}
            slug={item.slug}
          />
        ))
      }
    </ol>
  </section>
</Page>
